<h2>CREATE DOCUMENT ON FIRE</h2>


<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="card_tittle"></label>
    <input type="text" name="card_tittle" id="card_tittle" placeholder="Enter the Tittle" ngModel required>
  
    <label for="card_info"></label>
    <input type="text" name="card_info" id="card_info" placeholder="Enter the Info" ngModel required>
  
    <label for="card_decs"></label>
    <input type="text" name="card_decs" id="card_decs" placeholder="Enter the Descriptions" ngModel required>

    <div *ngFor="let fileInput of fileInputs; let i = index">
        <input type="file" (change)="imagePath($event, i)" accept="image/*" [name]="'fileInput_' + i">
        <input type="text" [(ngModel)]="fileInputs[i].card_type" [name]="'cardType_' + i" placeholder="Card Type">
    </div>
    
      <button type="button" (click)="addFileInput()">Add File Input</button>
      
    <br>
    <br>
    <button type="submit">Create Docs</button>
</form>

<div *ngFor="let card of items$ | async">
   FORM VALUE IS : {{ card.card_tittle }}
</div>