<div class="list-items" *ngFor="let card of items$ | async">
    <h4 class="list-title">{{ card.card_tittle }}</h4>
    <h6 class="list-id">{{ card.id }}</h6>
  
    <button type="button" (click)="openUpdateModal(card)">Update</button>
    <button type="button" (click)="deleteCard(card.id)">Delete</button>



</div>
  
  <!-- Update Modal -->
  <div class="modal" *ngIf="true">
    <form (ngSubmit)="updateCard()" #updateForm="ngForm">
      <label for="card_tittle">Update Tittle</label>
      <input type="text" name="card_tittle" id="card_tittle" [(ngModel)]="selectedCard.card_tittle" required>
  
      <label for="card_info">Update Info</label>
      <input type="text" name="card_info" id="card_info" [(ngModel)]="selectedCard.card_info" required>
  
      <label for="card_decs">Update Descriptions</label>
      <input type="text" name="card_decs" id="card_decs" [(ngModel)]="selectedCard.card_decs" required>
  
      <button type="submit">Update Doc</button>
      <button type="button" (click)="closeModal()">Close</button>
    </form>
  </div>
  